name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    name: build and push
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [16, 18, 20, 22]

    steps:
      - uses: actions/checkout@v4

      - name: setup node ${{ matrix.node }}
        uses: actions/setup-node@v4

        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'

      - run: npm ci
      - run: npm run test

      - name: generate tag
        id: generate_tag
        run: |
          SHA=$(echo $GITHUB_SHA | head -c7)
          echo "sha=$SHA" >> $GITHUB_OUTPUT

      - name: login into the container registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: build docker image
        run: docker build -t mdta023/ci-cd:${{ steps.generate_tag.outputs.sha }} .

      - name: push docker image
        run: docker push mdta023/ci-cd:${{ steps.generate_tag.outputs.sha }}
